body {
    background-color: #ADD8E6;
    margin: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo {
    display: flex;
    flex: 1, 1, auto;
    text-align: right;
    gap: 100px;
    font-size: 35px;
    padding: 50px;
    background-color: #00008b;
    border-radius: 25px;
    
}

#empty {
    background-color: rgb(128,113,74);
    display: inline-block;  
    height: 50px;
}


#theT{
    flex-grow: 1.5;
}
.title {
    display: flex;
    flex: 1, 1, auto;
    justify-content: space-between;
    border-radius: 25px;

}
.undertitle{
    display: inline-block;
    background-color: #00008b;
    text-align: center;
    flex-shrink: 3;
    border-radius: 25px;
}

button{
    width: 200px;
    height: 100px;
    background-color: rgb(128, 74, 74);
    border-color: black;
    border-radius: 25px;

}

#quote {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #00008b;
    display: block;
    padding: 20px;
    border-radius: 25px;
}
#smalltitle{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
 
.courts {
    display: flex;
    background-color: #00008b;
    padding: 7px;
    border-radius: 25px;
}

#text{
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 20px;
}

#mom {
    font-size: small;
    text-align: center;
    color: aliceblue;
}

#emptyend {
    display: inline-block;
    height: 200px;
    background-color: rgb(128,113,74);

}

img {
    border-radius: 25px;
}